*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif, Helvetica, Arial;
}
.body__header__h1{
  color: rgb(0, 0, 0);
  margin: 50px 0px;
  text-align: center;
}

.body__main{
  display: grid;
  place-items: center;
}
.body__main__cuadrado-container__cuadrado{
  background-color: brown;
  width: 400px;
  height: 400px;
  margin-bottom: 50px;
  border: 5px solid rgb(95, 16, 16);
  box-shadow: 12px 12px 12px 4px rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}
.body__main__cuadrado-container__video{
  width: 800px;
  margin-bottom: 50px;
  border: 2px solid rgb(16, 95, 20);
  border-radius: 3%;
  box-shadow: 12px 12px 12px 4px rgba(0, 0, 0, 0.6);
}
.body__main__cuadrado-container__cuadrado:hover, .body__main__cuadrado-container__video:hover, .body__main__video-container__fallback:hover{
  box-shadow: 8px 8px 12px 4px rgba(0, 0, 0, 0.6);
  transition: 0.1s;
}
.body__main__video-container__fallback{
  width: 0px;
  margin-bottom: 50px;
  border: 2px solid rgb(56, 42, 30);
  border-radius: 3%;
  box-shadow: 12px 12px 12px 4px rgba(0, 0, 0, 0.6);
}

/*@media queries*/
@media (max-width:801px){
  .body__main__cuadrado-container__video{
    width: 550px;
  }
}

@media (max-width:600px){
  .body__main__cuadrado-container__cuadrado{
    background-color: green;
    border: 5px solid rgb(16, 95, 27);
    width: 200px;
    height: 200px;
  }
  .body__main__cuadrado-container__video{
    width: 0px;
  }
  .body__main__video-container__fallback{
    width: 200px;
  }
}