*{
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif, Helvetica, Arial;
}

.body{
  background-image: url("./background.jpg");
  background-size: cover;
}

.body__header__h1{
  color: rgb(238,206,145);
  margin-top: 100px;
  text-align: center;
}
.main__article__form{
  display: grid;
  justify-content: center;
}
.main__article__form__cuadro{
  margin: 100px 200px 400px 200px;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.125em;
}
.main__article__form__cuadro__titulo{
  padding: 0px 10px;
  border: 1px white groove;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}
.main__article__form__cuadro__email{
  display: flex;
  flex-direction: row;
  place-items: center;
  margin-bottom: 20px;
}
.main__article__form__cuadro__email__input{
  height: 20px;
  margin-left: 5px;
}
.main__article__form__cuadro__contraseña{
  display: flex;
  flex-direction: row;
  place-items: center;
  margin-bottom: 20px;
}
.main__article__form__cuadro__contraseña__input{
  height: 20px;
  margin-left: 5px;
}
.main__article__form__cuadro__checkbox-div{
  display: flex;
  flex-direction: row;
  place-items: center;
  padding: 10px 0px;
  margin-bottom: 5px;
}
.main__article__form__cuadro__checkbox-div__input{
  margin-right: 5px;
}
.main__article__form__cuadro__checkbox-div__input:hover{
  cursor: pointer;
}
.main__article__form__cuadro__button{
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: center;
}
.main__article__form__cuadro__button__input{
  width: 50%;
  height: 35px;
  background-color: white;
  border: black 2px groove;
  transition: 0.2s;
  box-shadow: 0 5px #666;
  border-radius: 5px;
}
.main__article__form__cuadro__button__input:hover{
  cursor: pointer;
}
.main__article__form__cuadro__button__input:active{
  background-color: green;
  transform: translateY(2px);
  box-shadow: 0 3px #666;
}
  
/*@media queries*/
@media (max-width:801px){
  .main__article__form__cuadro{
    font-size: 1em;
    width: 238px;
  }
}