@mixin btn-base {
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
}

@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

$color-main: #0075FF;
$color-footer: #f4f8fe;
$background-color: #161617;
$background-color-soft: #212121;
$text-color: white;
$text-color-soft: #999;

.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: solid 1px $color-main;

    &:hover {
        background-color: white;
        color: $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-base();
    color: $text-color;
    background-color: transparent;
    border: none;

    &:hover {
        color: #888;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.main-menu {
    margin-bottom: 0;
    li {
        font-size: 0.75rem;
        list-style: none;
        display: inline;
        margin-right: 2rem;
        a {
            color: $text-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.icon-sm {
    i {
        font-size: 1.25rem;
        padding: 0.4rem 0.65rem;
        color: $color-main;
        border-radius: 50%;
        box-shadow: 0 0 10px #00000040;
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    i {
        color: $color-main;
        font-size: 7.5rem;
        text-align: center;
    }
    .description {
        .title {
            font-size: 2rem;
            text-align: center;
        }
        .text {
            color: #888;
            font-weight: 600;
        text-align: center;
    }
    }
    .cta {
        margin-top: 3rem;
        color: $color-main;
        font-weight: 600;
        text-align: center;
    }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        color: $color-main;
        font-size: 10rem;
        padding: 0;
    }
    .title {
        margin-top: -1rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}