*{
  font-family: 'Rubik', sans-serif, Helvetica, Arial;
}

header h1{
  text-align: center;
  margin-top: 100px;
}

main article{
  margin: 100px auto;
  width: 70%;
  border: 5px solid gray;
  border-radius: 20px;
  padding: 10px;
  background-color:gainsboro;
}
main article p, main article .miparrafo, main article div1 p{
  margin-bottom: 20px;
}
main article p{
  color: #00f;
}
main article .miparrafo{
  color: hsl(1, 100%, 50%);
}
main article div p{
  color:rgba(0, 255, 0, 0.8);
}
main article div .miparrafo{
  color: navy;
}