*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif, Helvetica, Arial
}

.main__article{
  display: grid;
  justify-content: center;
  margin: 200px 0px;
}
.main__article__galeria{
  background: linear-gradient(180deg, rgba(0, 225, 255, 0.5), rgba(0, 140, 255, 0.5));
  border: 5px double black;
  position: relative;
  width: 250px;
  height: 200px;
}

.main__article__galeria__input{
  position: relative;
  top: 92%;
  left: 35%;
}
.main__article__galeria__img{
  border-radius: 6px;
  margin: 5px;
  max-width: 95%;
  max-height: 88%;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.main__article__galeria__input:nth-of-type(1):checked ~ .main__article__galeria__img:nth-of-type(1){
  opacity: 1;
}
.main__article__galeria__input:nth-of-type(2):checked ~ .main__article__galeria__img:nth-of-type(2){
  opacity: 1;
}
.main__article__galeria__input:nth-of-type(3):checked ~ .main__article__galeria__img:nth-of-type(3){
  opacity: 1;
}
.main__article__galeria__input:nth-of-type(4):checked ~ .main__article__galeria__img:nth-of-type(4){
  opacity: 1;
}

@media (max-width:600px){
  .main__article{
    display: grid;
    justify-content: center;
    margin: 100px 0px;
  }
}