* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif, Helvetica, Arial;
}

body header h1 {
    margin-top: 100px;
    text-align: center;
}

body {
    background-image: url(bg.jpg);
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.rotate_earth {
    width: 400px;
    margin: 40px;
}


/*with TRANSITION*/

.rotate_earth:hover {
    cursor: wait;
    transform: rotate(1turn);
    transition: transform 10s;
}

.right-fade_coche {
    width: 400px;
    margin: 40px;
}


/*with ANIMATION*/

.right-fade_coche:hover {
    cursor: wait;
    animation-name: moto;
    animation-duration: 1s;
    animation-timing-function: ease-in cubic-bezier(.6, .02, .94, .66);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moto {
    0% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(-100px);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(800px);
    }
}