*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif, Helvetica, Arial;
}
.body{
  background-image: url(bg.jpg);
}
.body__header__h1{
  color: rgb(0, 0, 0);
  margin-top: 100px;
  text-align: center;
}
.body__main{
  display: flex;
  flex-direction: column;
  place-items: center;
}
.body__main__rotate__earth{
  width: 400px;
  margin: 40px;
}
/*with TRANSITION*/
.body__main__rotate__earth:hover{
  cursor: progress;
  transform: rotate(360deg);
  transition: transform 3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.body__main__right-fade__coche{
  width: 400px;
  margin: 40px;
}
/*with ANIMATION*/
.body__main__right-fade__coche:hover{
  cursor: progress;
  animation-name: moto;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes moto {
  0%{
    opacity: 1;
    transform: translateX(0px);
  }
  10%{
    transform: translateX(-4px);
  }
  40%{
    transform: translateX(-8px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateX(800px);
  }
}