*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif, Helvetica, Arial;
}
.body__header__h1{
  color: rgb(0, 0, 0);
  margin: 50px 0px;
  text-align: center;
}

.body__main__article{
  display: grid;
  grid-template-areas: 
    'table list'
    'bar bar';
  grid-gap: 20px;
  margin: 20px 20px 200px 20px;
}
.body__main__article__table-container{
  grid-area: table;
}
.body__main__article__list-container{
  grid-area: list;
}
.body__main__article__bar-container{
  grid-area: bar;
  margin-top: 150px;
}
.progress-p{
  color: white;
}
.progress-bar{
  width: 10%;
  /*animation-name: progreso;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;*/
}
.progress-bar:hover{
  width: 100%;
  transition: 2s;
  background-color: green;
}
/*@-webkit-keyframes progreso {
  0%{
    width: 10%;
  }
  100%{
    width: 100%;
  }
}
@keyframes progreso {
  0%{
    width: 10%;
  }
  100%{
    width: 100%;
  }
}*/