* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif, Helvetica, Arial;
}

body header h1 {
    margin-top: 100px;
    text-align: center;
}

main article {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article section {
    margin-bottom: 50px;
}

main aside {
    display: grid;
    place-items: center;
}

#carouselExampleIndicators img {
    border-radius: 5px;
}