*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif, Helvetica, Arial;
}

.body{
  background-image: url("bg.jpg");
  background-size: cover;
}
.body__header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0px;
}

.carousel-ejercicio{
  display: grid;
  place-items: center;
  height: 750px;
  z-index: 200;
}
#carouselExampleControlsNoTouching{
  width: 50%;
  border: 5px groove rgb(94, 94, 94);
  background-color: black;
}

.accordion-container{
  height: 460px;
}
.accordion{
  margin: 50px;
}
aside{
  display: grid;
  justify-content: center;
}
aside img{
  width: 200px;
}