*{
    margin: 0;
    padding: 0;
}

.background{
    top: 0;
    left: 0;
    background: url("https://img.freepik.com/vector-gratis/tiras-pelicula-cine-fondo-azul_1017-23456.jpg?size=626&ext=jpg");
    background-size: cover;
    font-family: 'Outfit', sans-serif, Helvetica, Arial;
}
  
.header__h1{
    padding-top: 100px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
}
.header__paragraph{
    color: #fff;
    text-align: justify;
    margin: 20px 50px;
    padding: 10px;
    border-radius: 20px;
    background-color: #111;
    border: 5px ridge white;
}

.h2{
    margin: 100px 0px 40px 0px;
    color: rgb(230, 135, 10);
    text-align: center;
}

.container__ordered ,.container__disordered{
    display: grid;
    justify-content: center;
}
.container__ordered__ol, .container__disordered__ul{
    background: linear-gradient(90deg, rgb(235, 231, 231), rgb(204, 181, 181));
    margin: 40px 0px;
    padding: 28px;
    border-radius: 15px;
    border: 5px ridge rgb(230, 135, 10);
}

.container__disordered__ul--background{
    background: linear-gradient(90deg, rgb(235, 231, 231), rgb(204, 181, 181));
}