*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif, Helvetica, Arial;
}

.body{
  background-color: rgb(75, 75, 75);
}
.container__image{
  width: 100%;
  border-bottom: 4px solid black;
}
.container__description__song{
  margin-top: 20px;
  width: 44%;
}
.container__description__js__img{
  padding: 10px;
  width: 50px;
  transition: 0.2s;
}
.container__description__js__img:hover{
  filter: drop-shadow(0px 0px 10px rgba(226, 226, 226, 0.9));
  cursor: pointer;
  transition: 0.15s;
}
.container__description__video{
  width: 40%;
  border-radius: 30px;
  border: 6px solid black;
  margin: 20px;
}
.container__description, .container__description__link{
  text-align: center;
  font-size: 20px;
  color: white;
  padding-top: 10px;
}
.container__description__link:hover{
  color: #000;
}