body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    background-color: green;
    color: white;
}
.btn::before {
    content: "Pasa por encima"
}
.btn:hover::before {
    content: "¡Hecho!"
}